@import 'includes/cascade-colours.css';

@-moz-document url-prefix("about:") {
  :root {
      --in-content-page-background: var(--uc-base-colour)!important;
  }
}

@-moz-document url-prefix(about:reader){
  body.dark {
   color: var(--uc-inverted-colour)!important;
   background-color: var(--uc-base-colour)!important;
  }
 }

 @-moz-document url-prefix(about:home) {
   .click-target-container *, .top-sites-list * {
     color: #fff !important ; 
     text-shadow: 1px 1px 3px black;
    }
  body {
    background: url(wallpaper.png) !important ; background-size: cover !important ;
  }
} @-moz-document url-prefix(about:newtab) {
  .click-target-container *, .top-sites-list * {
    color: #fff !important ;
    text-shadow: 1px 1px 3px black; 
   }
 body {
   background: url(wallpaper.png) !important ; background-size: cover !important ;
 }
}